.nav-shop {
    justify-content: space-evenly;
    display: flex;
}

.item {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}